<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Restaurant Review App</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        body {
            padding-top: 56px;
        }
    </style>

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">Restaurant Review App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" >
                    <a class="nav-link" href="/profile">
                        <th:block th:if="${#request.session.getAttribute(user)!= null}"
                                  th:text="${#request.getSession().getAttribute(user).username}">
                            <th:text></th:text>
                        </th:block>
                    </a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Page Content -->
<div class="container">

    <!-- Jumbotron Header -->
    <header class="breadcrumb my-4">
        <p class="lead"><b>Add new restaurant</b></p>

    </header>


    <form action="/restaurants/add" method="post">
        <div class="form-group">
            <label for="restaurantName">Restaurant name</label>
            <input type="text" class="form-control" id="restaurantName" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="restaurantDescription">Restaurant Description</label>
            <textarea class="form-control" id="restaurantDescription" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="restaurantCategory">Category</label>
            <select class="form-control" id="restaurantCategory">
                <option>Ethnic</option>
                <option>Fast Food</option>
                <option>Family style</option>
                <option>Fine dining</option>
                <option>Café</option>
                <option>Coffee house</option>
                <option>Pub</option>
            </select>
        </div>
        <div class="form-group">
            <label for="restaurantAddress">Address</label>
            <input type="text" class="form-control" id="restaurantAddress" placeholder="Address">
        </div>
        <div class="form-group">
            <label for="restaurantCity">City</label>
            <input type="text" class="form-control" id="restaurantCity" placeholder="City">
        </div>
        <div class="form-group">
            <label for="restaurantCountry">Country</label>
            <input type="text" class="form-control" id="restaurantCountry" placeholder="Country">
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="delivery" value="option1">
            <label class="form-check-label" for="delivery">Delivery</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="noDelivery" value="option2">
            <label class="form-check-label" for="noDelivery">No delivery</label>
        </div>
        <br/> <br/>
        <button type="submit" class="btn btn-dark">Submit</button>
    </form>

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark mt-5">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Restaurant Review App 2021</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="../static/vendor/jquery/jquery.min.js"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
