<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Restaurant Review App</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        body {
            padding-top: 56px;
        }
    </style>

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">Restaurant Review App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" >
                    <a class="nav-link" href="/profile">
                        <th:block th:if="${#request.session.getAttribute(user)!= null}"
                                  th:text="${#request.getSession().getAttribute(user).username}">
                            <th:text></th:text>
                        </th:block>
                    </a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Page Content -->
<div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
        <p class="lead"><b>User: <th:block th:text="${#request.getSession().getAttribute(user).username}">
            <th:text></th:text>
        </th:block></b></p>
    </header>


    <div class="row">
        <div class="breadcrumb col-md-3 ml-3" style="height: 15em;">
            <p class="lead">Profile info </p>
            <br/>
            <p>Name: <th:block th:text="${#request.getSession().getAttribute(user).name}">
            </th:block>
            </p>
            <br/>
            <p>Last name: <th:block th:text="${#request.getSession().getAttribute(user).lastName}">
            </th:block>
            </p>
            <br/>
            <p>City: <th:block th:text="${#request.getSession().getAttribute(user).city}">
            </th:block>
            </p>
            <br/>
            <p>Country: <th:block th:text="${#request.getSession().getAttribute(user).country}">
            </th:block>
            </p>
        </div>

        <div class="breadcrumb col-md-8 ml-5">
            <div class="btn-group-vertical col-md-12" style="height: 5em; margin: auto;">
                <button type="button" class="btn btn-secondary m-2">
                    <a href="/restaurants/add" style="text-decoration: none; color: white">Add new restaurant</a>
                </button>
            </div>
        </div>
    </div>


    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark mt-5">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Restaurant Review App 2021</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="../static/vendor/jquery/jquery.min.js"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
